<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="/style/myProfile.css">
</head>

<body>
    <div class="purple"></div>
    <div class="white"></div>
    
    <div class="container">

        <!-- add new post or change options -->

        <div class="more">
            <i class="fa-solid fa-ellipsis-vertical icon"></i>
            <div class="options">
                <div>change info</div><hr>
                <div>create post</div>
            </div>
        </div>
        <div class="info">

            <!-- user information -->

            <img src="<%=user.profile[0]%>" alt="" class="img">
            
            <h1 class="username"><%=user.username%></h1>
            <p class="name"><%=user.name%></p>
            <p class="bio"><%=user.bio%></p>
        </div>


        <!-- posts -->
        <div class="posts">
            <div class="posts-div">
                    <%for(post in user.posts){%>
                        <img src="<%=post%>" alt="">
                    <%}%>

            </div>
        </div>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/myProfile.js"></script>
</body>

</html>